In [ ]:
#crear una lista con multiplos para 3 y 5
multiples_3=[]
multiples_5=[]
for i in range(1, 21):
  if i % 3 == 0 and i % 5 == 0:
    print('FizzBuzz')
  elif i % 3 == 0:
    print('Fizz')
  elif i % 5 == 0:
    print('Buzz')
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

In [ ]:
from typing import List
#crear una lista con multiplos para 3 y 5
def resultado():
  for i in range(len(list)):
    if i % 3 == 0 and i % 5 == 0:
      resultado[i]=('FizzBuzz')
    elif i % 3 == 0:
      resultado[i]=('Fizz')
    elif i % 5 == 0:
      resultado[i]('Buzz')
    else:
      resultado[i]=('error')
print=input(i)
resultado()

In [ ]:
def es_primo(numero):
  contador=0